<div *ngIf="todos.length > 0">
  <div class="todo-list">
    <div *ngFor="let todo of todos" [class.completed]="todo.complete">

      <app-todo-list-item
        [todo]="todo"
        (toggle)="onToggleTodo($event)"
        (remove)="onRemoveTodo($event)">
      </app-todo-list-item>
    </div>
    <div class="form-group row">
      <div class="col-md-3"></div>
      <div class="col-md-4">
        <div *ngFor="let todo of todos" [class.completed]="todo.complete">
          <a [routerLink]="[todo.id, {complete: todo.complete}]">
            Todo {{todo.id}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

