
<p>
  Directies
</p>
<img src="{{logoUrl}}">
<br/>
<toggle-parent></toggle-parent>
<hr />
<click-observer></click-observer>
<br />
<hr />
<on-off></on-off>
<br />
<hr />
<node subscribeChannel="foo" Using the generic PubSub service..
      publishChannel="bar">
</node>
<node subscribeChannel="bar"
      publishChannel="foo">
</node>
<node subscribeChannel="foo" Using the generic PubSub service..
      publishChannel="bar">
</node>
<hr />
<outer></outer> @ViewChildren, QueryList
<hr />
<app-magic-eight-ball></app-magic-eight-ball>
