<div class="row">
  <div class="col-md-2">
    <div class="">
      <button type="button" class="btn btn-link" (click)="showMyAngular()">Angular</button>
    </div>
    <div class="">
      <button type="button" class="btn btn-link" (click)="showMyGit()">Git</button>
    </div>
  </div>
  <div class="col-md-10">
    <markdown *ngIf="showAngular" [src]="'assets/markdown/angular-overview.md'"></markdown>
    <markdown *ngIf="showGit" [src]="'assets/markdown/git.md'"></markdown>
  </div>
</div>

<!--<div class="row">-->
<!--<div class="col-md-6 border"><button type="button" class="btn btn-link" (click)="showMyAngular()">Angular</button></div>-->
<!--<div class="col-md-6 border" *ngIf="showAngular"><markdown [src]="'assets/markdown/angular-overview.md'"></markdown></div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-6 border"><button type="button" class="btn btn-link" (click)="showMyGit()">Git</button></div>-->
<!--<div class="col-md-6 border" *ngIf="showGit"><markdown [src]="'assets/markdown/git.md'"></markdown></div>-->
<!--</div>-->
